[Unit]
Description=Install Flatpak applications
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/boppos-install-flatpaks.sh

[Install]
WantedBy=graphical-session.target
