[Unit]
Description=OverlayFS for SDDM
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
Conflicts=umount.target
Before=sddm.service plasmalogin.service umount.target

[Mount]
What=overlay
Where=/usr/share/sddm
Type=overlay
Options=lowerdir=/usr/lib/sddm_dist,upperdir=/var/sddm_overlay/upper,workdir=/var/sddm_overlay/work,index=off,metacopy=off,uuid=off

[Install]
WantedBy=multi-user.target