[Unit]
Description=OverlayFS for /opt
# Ensure this runs early in the boot process
After=systemd-tmpfiles-setup.service
Before=local-fs.target

[Mount]
What=overlay
Where=/var/opt
Type=overlay
Options=lowerdir=/usr/lib/opt,upperdir=/var/opt_overlay/upper,workdir=/var/opt_overlay/work,index=off

[Install]
WantedBy=local-fs.target
